body {
  border: 8px solid greenyellow;
  margin: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("./Backgroud\ .jpg");
}
#heading {
  display: flex;
  justify-content: space-between;
  margin: 30px 30px;
}
.h1 {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

#heading-1 {
  border: 7px solid red;
  border-radius: 35px;
  height: 150px;
  width: 350px;
  font-weight: bold;
  font-style: italic;
  font-size: xx-large;
  background-color: black;
  color: white;
  padding-left: 23px;
}

#heading-2 {
  font-weight: lighter;
  font-style: italic;
  font-size: xx-large;
  border: 7px solid red;
  border-radius: 35px;
  height: 80px;
  width: 480px;
  margin-left: -20px;
  margin-top: 10px;
  padding-left: 50px;
  background-color: black;
  color: white;
  display: flex;
  align-items: self-end;
  justify-content: space-around;
}
#heading-3 {
  font-weight: bold;
  font-style: italic;
  font-size: x-large;
  height: 150px;
  width: 400px;
  border: 7px solid red;
  border-radius: 35px;
  background-color: black;
  color: white;
}

.h3 {
  display: flex;
  justify-content: center;
  padding-top: 18px;
}
#excoffer {
  display: flex;
}
#offer {
  width: 430px;
  height: 430px;
  background-color: rgb(70, 160, 160);
  border-radius: 50%;
  border: 8px solid gray;
  margin-top: 200px;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-inline-start: 0px;
}
.p1 {
  color: black;
  text-decoration: underline;
  text-transform: uppercase;
  font-weight: bold;
  font-size: x-large;
  font-style: italic;
  margin-top: 100px;
  margin-left: 110px;
}
.p2 {
  color: black;
  text-decoration: underline;
  text-transform: uppercase;
  font-size: x-large;
  font-weight: bold;
  font-style: italic;
  margin-left: 30px;
  margin-top: 30px;
}

#regoffer {
  height: 770px;
  width: 500px;
  border: 7px double red;
  display: flex;
  justify-content: center;
}

#reg {
  width: 500px;
}
h1 {
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  font-weight: bold;
}
#regh1 {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  color: red;
}
.form-details {
  display: flex;
  justify-content: center;
  font-size: large;
  font-weight: 600;
  color: red;
}
.details {
  display: flex;
  margin-left: 160px;
  align-items: center;
}
.date {
  display: flex;
  margin-left: 160px;
  width: 160px;
  align-items: center;
}
.check {
  margin-left: 230px;
}
.check1 {
  margin-left: 210px;
}
.check2 {
  margin-left: 227px;
}
#menu {
  font-weight: bold;
  font-size: xx-large;
  font-style: italic;
  text-transform: uppercase;
  height: 100px;
  width: 500px;
  border: 7px solid red;
  border-radius: 35px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 490px;
  margin-top: 30px;
}
#main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 40px;
  color: darkblue;
}
h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
}
.food {
  font-size: xx-large;
  font-weight: bold;
  margin-left: 100px;
}
.box1 {
  border: 3px solid darkgreen;
  border-radius: 35px;
  background-color: aqua;
  width: 25%;
}
 
li{
  margin-left: 100px;
font-size: larger;

}